AnchorPane {
	-fx-background-image: url("rsbg.png");
}
.sidePanel {
	-fx-background-image: url("rp.png");
}
.tabArea {
	-fx-background-image: url("tabmain.png");
}
.button {
	-fx-background-image: url("buttontexture.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 100%, 100%;
 	-fx-focus-color: transparent;
	-fx-border-width: 0;
	-fx-text-alignment: center;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-radius: 30;
	-fx-background-radius: 15 0 15 0, 0 15 0 15;
	-fx-border-radius: 15 0 15 0, 0 15 0 15;
}
	
.button:focused{
     -fx-focus-color: transparent;
     -fx-background-insets: 0, 0, 1, 2;
}

.button:hover {
	-fx-background-color: "#2E3136";
	-fx-text-fill: "#FF0000";
	-fx-text-alignment: center;
	-fx-cursor: hand;
	-fx-border-width: 0;
	-fx-focus-color: transparent;
}
.lblSimulateId {
	-fx-text-fill: "#FFF";
	-fx-font-size: 17;
	-fx-alignment: center;
}
.txtBoxes {
	-fx-text-fill: "#181D22";
	-fx-font-size: 17;
}
.txtBoxes *.text{
	-fx-text-alignment: center;
}
.txtBoxes .content {
	-fx-background-color: "#FFF";
}
.txtBoxes:active {
	-fx-highlight-fill: "#00ff00";
  	-fx-highlight-text-fill: "#000000";
}
.tooltip {
	-fx-background-color: "#443B2E";
	-fx-text-fill: "#FF781F";
	-fx-font-weight: 900;
	-fx-font-size: 13;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-stroke-borders: 2px;
}
.slider .thumb {
	-fx-pref-width: 18;
	-fx-pref-height: 18;
	-fx-background-color: "#F5F5F5";
	-fx-border-width: 1;
	-fx-border-radius: 4;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 2, 2);
	-fx-cursor: hand;
}

.slider .track {
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.3), 5, 0.3, 1, 1);
	-fx-pref-height: 4;
	-fx-background-color: #DD4713;
	-fx-cursor: hand;
}
.clearBank{
	-fx-text-fill: #fff;
	-fx-background-color: "#443B2E";
	-fx-alignment: center;
}
.clearBank:hover {
	-fx-text-fill: #f0f;
	-fx-cursor: hand;
}
.nScroll{
	-fx-background-color:transparent;
}